*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Bungee Inline", cursive;
  background-color: black;
  min-height: 100vh;
  overflow: hidden;
  color: white;
  cursor: none;
}

.gameArea {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.spaceShip {
  position: absolute;
  width: 8rem;
  height: 8rem;
  background-image: url(./images/spaceShip.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
}

.stars {
  position: absolute;
  border-radius: 50%;
}

.score {
  position: absolute;
  top: 2%;
  left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  font-size: 2.5rem;
}

.score p {
  padding: 0 1rem;
}

.bullet {
  position: absolute;
  height: 3.5rem;
  width: 5rem;
  background: red;
  opacity: 0.7;
  box-shadow: 0px 1px 15px white;
  clip-path: polygon(
    43% 0%,
    56% 0%,
    47% 37%,
    57% 36%,
    43% 92%,
    49% 45%,
    39% 45%
  );
  transform: translate(-50%, -10%);
}

.rock {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0px;
  background-size: cover;
  animation: rotateRock 1s ease-in-out infinite;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-image: url(./images/modalBackround.jpg);
  cursor: default;
  z-index: 1000;
}
.scoreboard p {
  font-size: 2rem;
}
.gameTitle {
  font-size: 5rem;
  letter-spacing: 1rem;

  font-weight: lighter;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.205) 0px 0px 5px,
    rgba(255, 255, 255, 0.205) 0px 0px 10px,
    rgba(255, 255, 255, 0.205) 0px 0px 15px, #3a535c 0px 0px 20px,
    #3a535c 0px 0px 30px, #3a535c 0px 0px 40px, #3a535c 0px 0px 50px,
    #3a535c 0px 0px 75px, 40px 40px 20px rgba(206, 89, 55, 0);
}
.closeModal {
  /*
  display: none;
   z-index: -1000; */
  opacity: 0;
  pointer-events: none;
}
.startGame {
  padding: 0.9rem 3rem;
  font-size: 3.5rem;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.5s ease;
  letter-spacing: 0.8rem;
}
.startGame:hover {
  background: #3a535c;
}

@keyframes rotateRock {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(18deg);
  }

  10% {
    transform: rotate(36deg);
  }
  15% {
    transform: rotate(54deg);
  }
  20% {
    transform: rotate(72deg);
  }

  25% {
    transform: rotate(90deg);
  }

  30% {
    transform: rotate(108deg);
  }
  35% {
    transform: rotate(126deg);
  }
  40% {
    transform: rotate(144deg);
  }

  45% {
    transform: rotate(162deg);
  }

  50% {
    transform: rotate(180deg);
  }
  55% {
    transform: rotate(198deg);
  }
  60% {
    transform: rotate(216deg);
  }

  65% {
    transform: rotate(234deg);
  }
  70% {
    transform: rotate(252deg);
  }
  75% {
    transform: rotate(270deg);
  }

  80% {
    transform: rotate(288deg);
  }

  85% {
    transform: rotate(306deg);
  }
  90% {
    transform: rotate(324deg);
  }
  95% {
    transform: rotate(342deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
